<!DOCTYPE html>

<html ng-app="demoApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
		<meta name="author" content="Coderthemes">

		<link rel="shortcut icon" href="assets/images/favicon_1.ico">

	 <title>圣斯尔雷击监控系统</title>

		<!-- DataTables -->
		<link href="assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!--Morris Chart CSS -->
		<link rel="stylesheet" href="assets/plugins/morris.js/morris.css">

		<link href="assets/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="assets/css/core.css" rel="stylesheet" type="text/css">
		<link href="assets/css/icons.css" rel="stylesheet" type="text/css">
		<link href="assets/css/components.css" rel="stylesheet" type="text/css">
		<link href="assets/css/pages.css" rel="stylesheet" type="text/css">
		<link href="assets/css/menu.css" rel="stylesheet" type="text/css">
		<link href="assets/css/responsive.css" rel="stylesheet" type="text/css">



	</head>
	<body class="fixed-left" ng-controller="indexCtrl" >

	<!-- Begin page -->
	<div id="wrapper" style="display: none">

		<!-- Top Bar Start -->

		<!--<div ng-include="'top.html'"></div>-->
		<div class="topbar">
			<!-- LOGO -->
			<div class="topbar-left">
				<div class="text-center">
					<a href="/" class="logo">
					<!-- <i class="md md-terrain"></i>  -->
					<span>圣斯尔 </span></a>
				</div>
			</div>
			<!-- Button mobile view to collapse sidebar menu -->
			<div class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="">
						<div class="pull-left">
							<button class="button-menu-mobile open-left">
								<i class="fa fa-bars"></i>
							</button>
							<span class="clearfix"></span>
						</div>
					<!--	<form class="navbar-form pull-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control search-bar" placeholder="Type here for search...">
							</div>
							<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
						</form>-->

						<ul class="nav navbar-nav navbar-right pull-right">
							<li class="dropdown hidden-xs">
								<a href="#" data-target="#" class="dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="true">
									<i class="md md-notifications"></i> <span class="badge badge-xs badge-danger">3</span>
								</a>
								<ul class="dropdown-menu dropdown-menu-lg">
									<li class="text-center notifi-title">Notification</li>
									<li class="list-group">
										<!-- list item-->
										<a href="javascript:void(0);" class="list-group-item">
											<div class="media">
												<div class="pull-left">
													<em class="fa fa-user-plus fa-2x text-info"></em>
												</div>
												<div class="media-body clearfix">
													<div class="media-heading">New user registered</div>
													<p class="m-0">
														<small>You have 10 unread messages</small>
													</p>
												</div>
											</div>
										</a>
										<!-- list item-->
										<a href="javascript:void(0);" class="list-group-item">
											<div class="media">
												<div class="pull-left">
													<em class="fa fa-diamond fa-2x text-primary"></em>
												</div>
												<div class="media-body clearfix">
													<div class="media-heading">New settings</div>
													<p class="m-0">
														<small>There are new settings available</small>
													</p>
												</div>
											</div>
										</a>
										<!-- list item-->
										<a href="javascript:void(0);" class="list-group-item">
											<div class="media">
												<div class="pull-left">
													<em class="fa fa-bell-o fa-2x text-danger"></em>
												</div>
												<div class="media-body clearfix">
													<div class="media-heading">Updates</div>
													<p class="m-0">
														<small>There are
															<span class="text-primary">2</span> new updates available</small>
													</p>
												</div>
											</div>
										</a>
										<!-- last list item -->
										<a href="javascript:void(0);" class="list-group-item">
											<small>See all notifications</small>
										</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
                                    <!--<a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
									<img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>-->
									<a href="" class="waves-effect waves-light"  data-toggle="dropdown">
									
									<span >{{user.company}} <i class="ion-chevron-down fa-lg" style = "font-size: 16px;"></i></span>
									
									</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#user-info-modal"><i class="md md-face-unlock"></i> 个人信息</a></li>
                                        <li><a href="javascript:void(0)"  data-toggle="modal" data-target="#update-pwd-modal"><i class="md md-settings"></i> 修改密码</a></li>
                                        <li><a ng-click="logout()"><i class="md md-settings-power"></i> 退出登录</a></li>
                                    </ul>
                                </li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!-- Top Bar End -->

		<!-- ========== Left Sidebar Start ========== -->

		<div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                            <li>
                                <a href="#/" class="waves-effect waves-light "><i class="md md-home"></i><span> 首页 </span></a>
                            </li>

                            
							<li class="has_sub">
                                <a href="#" class="waves-effect waves-light"><i class="md md-poll"></i><span>监测管理 </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    
                                    <li>
                                        <a href="#/module/demoChar/1"><span>电流监控</span></a>
                                    </li>
									<li>
                                        <a href="#/module/demoCharTest"><span>避雷器状态（劣化故障）</span></a>
                                    </li>
									<li>
                                        <a href="javascript:void(0);"><span>杆塔位置</span></a>
                                    </li>
									<li>
                                        <a href="javascript:void(0);"><span>报警查询</span></a>
                                    </li>
									<li>
                                        <a href="javascript:void(0);"><span>数据管理（清空操作）</span></a>
                                    </li>
                                </ul>
                            </li>
							<li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect waves-light"><i class="md ion-android-storage"></i><span>设备管理 </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul>
                                    
                                    <li>
                                        <a href="javascript:void(0);"><span>设备配置</span></a>
                                    </li>
									<li>
                                        <a href="javascript:void(0);"><span>显示站点图</span></a>
                                    </li>
									
                                </ul>
                            </li>
							<li class="has_sub" ng-show="user.competence != 4">
                                <a href="javascript:void(0);" class="waves-effect waves-light"><i class="ion-ios7-gear"></i><span>系统管理 </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul>
                                    
                                    <li ng-if="user.competence != 4">
                                        <a href="#/module/userList"><span>用户管理</span></a>
                                    </li>
									
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
		<!-- Left Sidebar End -->

		<!-- 中间正文 -->
		<!--<div class="container">
			<div class="content-page" ng-view></div>
		</div>-->

		<div class="content-page" >
			<div class="content" ng-view></div>
			<footer class="footer text-right">
				2018 © SSED.
			</footer>
		</div>


		<!-- angular -->
		<script type="text/javascript" src="static/js/angular-1.5.8.js"></script>
		<script type="text/javascript" src="static/js/angular-route.js"></script>
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="app/service/httpInterceptor.js"></script>
		<!--<script type="text/javascript" src="app/service/voteServices.js"></script>-->
		<!--<script type="text/javascript" src="app/filter/voteFilters.js"></script>-->
		<!--<script type="text/javascript" src="app/directive/voteDirectives.js"></script>-->


		<!-- html -->

		<script>
			var resizefunc = [];
		</script>
		<script src="assets/js/modernizr.min.js"></script>
		<!-- jQuery  -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/detect.js"></script>
		<script src="assets/js/fastclick.js"></script>
		<script src="assets/js/jquery.slimscroll.js"></script>
		<script src="assets/js/jquery.blockUI.js"></script>
		<script src="assets/js/waves.js"></script>
		<script src="assets/js/wow.min.js"></script>
		<script src="assets/js/jquery.nicescroll.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>

		<script src="assets/js/jquery.app.js"></script>

		<!-- moment js  -->
		<script src="assets/plugins/moment/moment.js"></script>

		<!-- counters  -->
		<script src="assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
		<script src="assets/plugins/counterup/jquery.counterup.min.js"></script>

		<!-- sweet alert  -->
		<script src="assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

		<!-- Datatables-->
		<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="assets/plugins/datatables/dataTables.bootstrap.js"></script>
		<script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
		<script src="assets/plugins/datatables/buttons.bootstrap.min.js"></script>
		<script src="assets/plugins/datatables/jszip.min.js"></script>
		<script src="assets/plugins/datatables/pdfmake.min.js"></script>
		<script src="assets/plugins/datatables/vfs_fonts.js"></script>
		<script src="assets/plugins/datatables/buttons.html5.min.js"></script>
		<script src="assets/plugins/datatables/buttons.print.min.js"></script>
		<script src="assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
		<script src="assets/plugins/datatables/dataTables.keyTable.min.js"></script>
		<script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
		<script src="assets/plugins/datatables/responsive.bootstrap.min.js"></script>
		<script src="assets/plugins/datatables/dataTables.scroller.min.js"></script>
		<!-- Datatable init js -->
		<script src="assets/pages/datatables.init.js"></script>

		<!--Morris Chart-->
		<script src="assets/plugins/morris.js/morris.min.js"></script>
		<script src="assets/plugins/raphael/raphael-min.js"></script>
		<script src="assets/pages/morris.init.js"></script>

		<!-- flot Chart -->
	<!--	<script src="assets/plugins/flot-chart/jquery.flot.js"></script>
		<script src="assets/plugins/flot-chart/jquery.flot.time.js"></script>
		<script src="assets/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
		<script src="assets/plugins/flot-chart/jquery.flot.resize.js"></script>
		<script src="assets/plugins/flot-chart/jquery.flot.pie.js"></script>
		<script src="assets/plugins/flot-chart/jquery.flot.selection.js"></script>
		<script src="assets/plugins/flot-chart/jquery.flot.stack.js"></script>
		<script src="assets/plugins/flot-chart/jquery.flot.crosshair.js"></script>-->
		
		<!-- Sweet-Alert  -->
		<script src="assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

		<!-- todos app  -->
		<script src="assets/pages/jquery.todo.js"></script>

		<!-- chat app  -->
		<script src="assets/pages/jquery.chat.js"></script>

		<!-- dashboard  -->
		<script src="assets/pages/jquery.dashboard.js"></script>

		<!-- md5 -->
		<script src="assets/js/md5.js"></script>
		<!-- angular control js -->
		<script src="app/controller/indexControllers.js"></script>
		<script src="app/controller/demoControllers.js"></script>
		<script src="app/controller/userControllers.js"></script>
		<script type="text/javascript" src="app/controller/demo2Controllers.js"></script>


		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$('.counter').counterUp({
					delay: 100,
					time: 1200
				});
			});
		</script>

		<script type="text/javascript">


			demoApp.controller("indexCtrl", function($scope, $http, $rootScope, $timeout) {
				$scope.newPwd ="";
				$scope.checkPwd ="";
				$scope.encordSrcPwd="";
				$scope.encordNewPwd="";
				$scope.srcPwd="";
				$http.post("service/checkLogin").success(function(data) {
					if(data.resultObj){
						//保存全局的用户
						$rootScope.user=data.resultObj;
						$scope.ajxUserInfo($rootScope.user);
						var homeDiv=document.getElementById("wrapper");
						homeDiv.style.display='block';
					}else{
						//未登录则跳回登录页
						window.location.href="/login.html";
					}

				});


				$scope.logout=function(){
					$http.get("service/logout").success(function(data) {
						console.info(data);
						window.location.href="/login.html"
					});
				}

				$scope.updatePwd=function(){
					if($scope.newPwd != $scope.checkPwd){
						$scope.newPwd ="";
						$scope.checkPwd ="";
						swal("两次密码不一致，请重新输入！","error");
					}else{
						$scope.encordSrcPwd=hex_md5($scope.srcPwd);
						$scope.encordNewPwd=hex_md5($scope.newPwd);
						$http.post("service/updatePwd",
								{srcPwd:$scope.encordSrcPwd,
								newPwd :$scope.encordNewPwd}).success(function(data) {
									console.info(data);
									if(data.resultObj == "errorMsg"){
							        	swal(data.message, null, "error");
							        }else{
										swal({   
								            title: "修改密码成功，请重新登录",   
								            text: "即将跳转登陆页...",   
								            timer: 3000,   
								            showConfirmButton: false 
								        });
										$timeout(function(){$scope.logout();}, 2900);
							        }
						});

					}
				}

				$scope.closePwd=function(){
					$scope.srcPwd="";
					$scope.newPwd ="";
					$scope.checkPwd ="";
					$scope.encordSrcPwd="";
					$scope.encordNewPwd="";
					$("#updatePwdId").click();
				}
				
				$scope.ajxUserInfo = function(user){
					$scope.currCompany=user.company;
					$scope.currContact=user.contact;
					$scope.currPhone=user.phone;
					$scope.currFax=user.fax;
					$scope.currEmail=user.email;
					$scope.currSite=user.site;
					$scope.currRemark=user.remark;
					$scope.currCompetence=user.competence+"";
					$scope.userEditable = true;
				}
				
				$scope.chgUserEdit = function(){
					$scope.userEditable = !$scope.userEditable;
				}
				
				$scope.closeUserInfoModal = function(){
					$scope.ajxUserInfo($rootScope.user);
					$("#close-user-info-modal").click();
				}
				
				$scope.userUpdate = function() {
			        $http.post("service/updateUserInfo",
			        		{company:$scope.currCompany,
			    			contact:$scope.currContact,
			    			phone:$scope.currPhone,
			    			fax:$scope.currFax,
			    			email:$scope.currEmail,
			    			site:$scope.currSite,
			    			remark:$scope.currRemark
			    			}).success(function(data) {
						    	if(data.resultObj == "errorMsg"){
						    		$scope.closeUserInfoModal();
						    		swal(data.message, null, "error");
						        }else{
						        	//修改成功后
						        	swal("修改成功", null, "success");
						        	$http.post("service/checkLogin").success(function(data) {
										if(data.resultObj){
											//保存全局的用户
											$rootScope.user=data.resultObj;
											$scope.closeUserInfoModal();
										}else{
											//未登录则跳回登录页
											window.location.href="/login.html";
										}

									});
						        }
			        });
					
			    }

			});
		</script>


		<div id="update-pwd-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pwdModalLabel" aria-hidden="true" style="display: none">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closePwd()">×</button>
						<h4 class="modal-title">修改密码</h4>
					</div>
					<form class="modal-body" ng-submit="updatePwd()"   name="updatePwdForm" >
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label  class="control-label">原密码<span style="color: red">*</span></label>
									<input type="password" class="form-control" required ng-model="srcPwd" name="srcPwd">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label  class="control-label">新密码<span style="color: red">*</span></label>
									<input type="password" class="form-control" required  ng-model="newPwd" name="newPwd">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label  class="control-label">确认密码<span style="color: red">*</span></label>
									<input type="password" class="form-control" required ng-model="checkPwd" name="checkPwd">
								</div>
								<div style="color: red" ng-show="newPwd != checkPwd && newPwd && checkPwd">
                      		  		*两次密码输入不一致
                   				</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="updatePwdId" type="button" class="btn btn-default waves-effect" data-dismiss="modal" ng-click="closePwd()">关闭</button>
							<button type="submit" class="btn btn-info waves-effect waves-light"  ng-disabled="updatePwdForm.$invalid || newPwd != checkPwd">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="user-info-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="userInfoModal" aria-hidden="true" style="display: none">
         <div class="modal-dialog"> 
             <div class="modal-content"> 
                 <div class="modal-header"> 
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >×</button> 
                     <h4 class="modal-title">用户信息</h4> 
                 </div> 
                 <form class="modal-body" ng-submit="userUpdate()" name="userUpdateForm" novalidate="novalidate"> 
                     <div class="row"> 
                         <div class="col-md-8"> 
                             <div class="form-group"> 
                                 <label  class="control-label">公司名称<span style="color : red">*</span></label> 
                                 <input type="text" class="form-control" ng-disabled="userEditable"  name="currCompany" ng-model="currCompany" required > 
                             </div> 
                         </div> 
                         <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">联系人<span style="color : red">*</span></label> 
                                 <input type="text" class="form-control" ng-disabled="userEditable" name="currContact" ng-model="currContact" required > 
                             </div> 
                         </div> 
                     </div> 
                     <div class="row"> 
                         <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">联系电话<span style="color : red">*</span></label> 
                                 <input type="text" class="form-control" ng-disabled="userEditable" name="currPhone" ng-model="currPhone" required > 
                             </div> 
                         </div> 
                         
                         <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">权限</label> 
                                 <select class="form-control" ng-disabled="true" name="currCompetence" ng-model="currCompetence" >
									<option  value="2">管理员</option>
									<option  value="3">客户</option>
									<option  value="4">普通用户</option>
								</select>
                             </div> 
                         </div> 
                          <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">站点</label> 
                                 <input type="text" class="form-control" ng-disabled="userEditable" name="currSite" ng-model="currSite"  > 
                             </div> 
                         </div> 
                     </div> 
                     <div class="row"> 
                         <div class="col-md-8"> 
                             <div class="form-group"> 
                                 <label  class="control-label">邮箱</label> 
                                 <input type="email" class="form-control" ng-disabled="userEditable" name="currEmail" ng-model="currEmail"  > 
                                 <div style="color: red" ng-show="addUserForm.email.$invalid">
                      		  		*邮箱格式不正确
                   				</div>
                             </div> 
                         </div> 
                        <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">传真</label> 
                                 <input type="text" class="form-control" ng-disabled="userEditable" name="currFax" ng-model="currFax"  > 
                             </div> 
                         </div> 
                     </div> 
                      <div class="row"> 
	                        <div class="col-md-12"> 
	                            <div class="form-group no-margin"> 
	                                 <label  class="control-label">备注</label>  
	                                <textarea  class="form-control autogrow" ng-disabled="userEditable" name="currRemark" ng-model="currRemark" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 75px"></textarea> 
	                            </div>
	                            <div style="color: red" ng-show="!userEditable && !userUpdateForm.$dirty">
                      		  		*未修改任何信息
                   				</div> 
	                        </div> 
	                    </div>     
                 <div class="modal-footer"> 
                     <button id="close-user-info-modal" type="button" class="btn btn-default waves-effect" data-dismiss="modal" ng-click="ajxUserInfo(user)" >关闭</button> 
                     <button type="button" class="btn btn-info waves-effect waves-light" ng-show="userEditable" ng-click="chgUserEdit()" >编辑</button> 
                     <button type="submit" class="btn btn-info waves-effect waves-light" ng-show="!userEditable" ng-disabled="userUpdateForm.$invalid || !userUpdateForm.$dirty">保存</button> 
                 </div> 
                 </form> 
             </div> 
         </div>
     </div>
		</div>
	</body>
</html>