<div class="container" >
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">设备列表</h3>
				</div>
				<div class="panel-body">
				<div class="row" ng-show="user.competence != 4 ">
                     <div class="col-sm-6">
                         <div class="m-b-30">
                             <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#user-add-modal">新增设备 <i class="fa fa-plus"></i></button>
                         </div>
                     </div>
                 </div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="table-responsive">
								<table class="table">
									<thead>
									<tr>
										<th>杆塔ID</th>
										<th>设备种类</th>
										<th>设备数量</th>
										<th>测量范围</th>
										<th>雷击总数</th>
										<th>报警次数</th>
										<th>状态</th>
										<th>上线时间</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="eqm in equipments"> 
									</tr>
									

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="user-add-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true" style="display: none">
         <div class="modal-dialog"> 
             <div class="modal-content"> 
                 <div class="modal-header"> 
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeAddModal()">×</button> 
                     <h4 class="modal-title">添加用户</h4> 
                 </div> 
                 <form class="modal-body" ng-submit="addUser()" name="addUserForm" novalidate="novalidate"> 
                     <div class="row"> 
                         <div class="col-md-6"> 
                             <div class="form-group"> 
                                 <label  class="control-label">帐号<span style="color : red">*</span></label> 
                                 <input type="text" class="form-control" name="account" ng-model="account" required >
                                 
                             </div> 
                         </div> 
                         <div class="col-md-6"> 
                             <div class="form-group"> 
                                 <label  class="control-label">密码<span style="color : red">*</span></label> 
                                 <input type="password" class="form-control" name="password" ng-model="password" required  > 
                             </div> 
                         </div> 
                     </div> 
                     <div class="row"> 
                         <div class="col-md-8"> 
                             <div class="form-group"> 
                                 <label  class="control-label">公司名称<span style="color : red">*</span></label> 
                                 <input type="text" class="form-control" name="company" ng-model="company" required > 
                             </div> 
                         </div> 
                         <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">联系人<span style="color : red">*</span></label> 
                                 <input type="text" class="form-control" name="contact" ng-model="contact" required > 
                             </div> 
                         </div> 
                     </div> 
                     <div class="row"> 
                         <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">联系电话<span style="color : red">*</span></label> 
                                 <input type="text" class="form-control" name="phone" ng-model="phone" required > 
                             </div> 
                         </div> 
                         
                         <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">权限<span style="color : red">*</span></label> 
                                 <select class="form-control" name="competence" ng-model="competence" required>
									<option ng-show="chkCmp == 2" value="3">客户</option>
									<option  value="4">普通用户</option>
								</select>
                             </div> 
                         </div> 
                          <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">站点</label> 
                                 <input type="text" class="form-control" name="site" ng-model="site"  > 
                             </div> 
                         </div> 
                     </div> 
                     <div class="row"> 
                         <div class="col-md-8"> 
                             <div class="form-group"> 
                                 <label  class="control-label">邮箱</label> 
                                 <input type="email" class="form-control" name="email" ng-model="email"  > 
                                 <div style="color: red" ng-show="addUserForm.email.$invalid">
                      		  		*邮箱格式不正确
                   				</div>
                             </div> 
                         </div> 
                        <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">传真</label> 
                                 <input type="text" class="form-control" name="fax" ng-model="fax"  > 
                             </div> 
                         </div> 
                     </div> 
                      <div class="row"> 
	                        <div class="col-md-12"> 
	                            <div class="form-group no-margin"> 
	                                 <label  class="control-label">备注</label>  
	                                <textarea  class="form-control autogrow" name="remark" ng-model="remark" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 75px"></textarea> 
	                            </div> 
	                        </div> 
	                    </div>     
                 <div class="modal-footer"> 
                     <button id="close-add-user-modal" type="button" class="btn btn-default waves-effect" data-dismiss="modal" ng-click="closeAddModal()" >关闭</button> 
                     <button type="submit" class="btn btn-info waves-effect waves-light"  ng-disabled="addUserForm.$invalid">保存并添加</button> 
                 </div> 
                 </form> 
             </div> 
         </div>
     </div>
     <div id="update-pwd-by-id-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pwdByIdModalLabel" aria-hidden="true" style="display: none">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closePwdById()">×</button>
						<h4 class="modal-title">修改密码</h4>
					</div>
					<form class="modal-body" ng-submit="updatePwdById()"   name="updatePwdByIdForm" >
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label  class="control-label">新密码<span style="color: red">*</span></label>
									<input type="password" class="form-control" required  ng-model="newPwd" name="newPwd">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label  class="control-label">确认密码<span style="color: red">*</span></label>
									<input type="password" class="form-control" required ng-model="checkPwd" name="checkPwd">
								</div>
								<div style="color: red" ng-show="newPwd != checkPwd && newPwd && checkPwd">
                      		  		*两次密码输入不一致
                   				</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="updatePwdById" type="button" class="btn btn-default waves-effect" data-dismiss="modal" ng-click="closePwdById()">关闭</button>
							<button type="submit" class="btn btn-info waves-effect waves-light"  ng-disabled="updatePwdByIdForm.$invalid || newPwd != checkPwd">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>
</div>