<div class="container" >
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">设备列表</h3>
				</div>
				<div class="panel-body">
				<div class="row" ng-if="user.competence != 4 ">
                     <div class="col-sm-6">
                         <div class="m-b-30">
                             <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#equ-add-modal" ng-click="chkCmp == 2 ? seleCompetenceChg() : return">新增设备 <i class="fa fa-plus"></i></button>
                         </div>
                     </div>
                 </div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="table-responsive">
								<table class="table">
									<thead>
									<tr>
										<th>杆塔ID</th>
										<th>设备种类</th>
										<th>设备数量</th>
										<th>测量范围</th>
										<th>雷击总数</th>
										<th>报警次数</th>
										<th>状态</th>
										<th>上线时间</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="eqm in equipments"> 
									<td>{{ eqm.eid }}</td>
									<td>{{ eqm.type }}</td>
									<td>{{ eqm.amount}}</td>
									<td>{{ eqm.range }}</td>
									<td>{{ eqm.total }}</td>
									<td>{{ eqm.alarms }}</td>
									<td>{{ equStatus[eqm.eStatus] }}</td>
									<td>{{ eqm.onlineTime }}</td>
									<td>{{ eqm.remark }}</td>
									<td> 
										<a href="javascript:void(0)"  ng-click="delEqu(eqm.id)"><span>删除</span></a></td>
									</tr>
									

									</tbody>
								</table>
							</div>
						</div>
						 <!-- 分页 -->
                        <page-info pages="pages" curpage="quereyData.page" change="changePage(page)"></page-info>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="equ-add-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addEquModal" aria-hidden="true" style="display: none">
         <div class="modal-dialog"> 
             <div class="modal-content"> 
                 <div class="modal-header"> 
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeAddEquModal()">×</button> 
                     <h4 class="modal-title">添加设备</h4> 
                 </div> 
                 <form class="modal-body" ng-submit="addEqu()" name="addEquForm" novalidate="novalidate">
	               		<div class="row" ng-show="chkCmp == 2"> 
	                       <div class="col-md-12"> 
	                           <div class="form-group "> 
	                                <label  class="control-label">请选择设备所属客户<span style="color : red">*</span></label>  
	                                <select ng-if="chkCmp == 2" class="form-control" name="seleCompany"  ng-model="$parent.seleCompany" ng-options="x for (x, y) in selCompanys" required>
								</select>
	                           </div> 
	                       </div> 
	                   </div> 
                     <div class="row"> 
                         <div class="col-md-12"> 
                             <div class="form-group"> 
                                 <label  class="control-label">杆塔ID<span style="color : red">*</span></label> 
                                 <input type="text" class="form-control" name="eid" ng-model="eid" required >
                             </div> 
                         </div> 
                        </div> 
                        <div class="row"> 
                            <div class="col-md-4"> 
                                <div class="form-group"> 
                                    <label  class="control-label">设备种类</label> 
                                    <input type="text" class="form-control" name="eType" ng-model="eType"   > 
                                </div> 
                            </div> 
                         <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">设备数量</label> 
                                 <input type="number" class="form-control" name="amount" ng-model="amount"  > 
                             </div> 
                         </div> 
                         <div class="col-md-4"> 
                             <div class="form-group"> 
                                 <label  class="control-label">测量范围</label> 
                                 <input type="text" class="form-control" name="eRange" ng-model="eRange"  > 
                             </div> 
                         </div> 
                     </div> 
                      <div class="row"> 
	                        <div class="col-md-12"> 
	                            <div class="form-group no-margin"> 
	                                 <label  class="control-label">备注</label>  
	                                <textarea  class="form-control autogrow" name="eRemark" ng-model="eRemark" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 75px"></textarea> 
	                            </div> 
	                        </div> 
	                    </div>     
                 <div class="modal-footer"> 
                     <button id="close-add-equ-modal" type="button" class="btn btn-default waves-effect" data-dismiss="modal" ng-click="closeAddEquModal()" >关闭</button> 
                     <button type="submit" class="btn btn-info waves-effect waves-light"  ng-disabled="addEquForm.$invalid">保存并添加</button> 
                 </div> 
                 </form> 
             </div> 
         </div>
     </div>
</div>