<div class="container" >
    <style>
        ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        ul.pagination li {
            display: inline;
        }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border-radius: 5px;
        }

        ul.pagination li a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
        }

        ul.pagination li a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
    <div class="row">
        <!-- BAR Chart -->
        <div class="col-md-12">
			<div class="panel panel-default">

            <div id="imageCharMain" style="width: 100%;height:500px;"></div>

            <!-- <div style="display: flex;justify-content: center;align-items: center">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li ng-repeat="x in pageBlock"><a id="Button-" + {{x}} ng-click="changePage(x)">{{x}}</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div> -->
            <!-- 分页 -->

            <page-info pages="pages" curpage="quereyData.page" change="changePage(page)"></page-info>
		        </div>
		    </div>
    </div>


</div>

<script type="text/javascript">

    //图表自适应页面大小

</script>